<!DOCTYPE html>
<html lang="en">
    <head>
		<%- include('../partials/head'); %>
  </head>
  <body class="container">
  <header><%- include('../partials/header'); %></header>
  
    <main>
        <div class="container pt-5">
            <h1>Success!<br>Corgi Has Joined The Fight For Equal Cuteness!</h1>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
           
        </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>