<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8" />
<title>SPA Routing Lab</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
	body {
		padding-top: 50px;
		background-color: rgb(235, 233, 233);
	}

	p {
		text-align: justify;
	}

	h1{
		text-align: center;
	}
	h2{
		text-align: center;
	}
	img {
		width: 60%;
		margin: auto;
		display: block;
	}
	body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
    }
    body {
      display:table-cell;
      vertical-align:middle;
    }
    form {
        display:table;/* shrinks to fit content */
        margin:auto;
    }
</style>
  </head>
  <header class="mb-auto">
    <div>
      <!-- <h3 class="float-md-start mb-0">Cover</h3> -->
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/about">ABOUT</a>
		<a class="nav-link" href="/directory">MEMBER CORGIS</a>
		<a class="nav-link" href="/create_employee">JOIN US</a>
      </nav>
    </div>
  </header>
  <body>
    <main>
        <div class="container pt-5">
            <h1>Add/Edit Employee</h1>
         <div class="bg-light p-2 rounded border my-5">
            <h2>Edit Corgi: First Name</h2>
            <p> <div style="margin-left: 390px;"><div class="card" style="width: 18rem;">

            <img src="<%= employee.picture %>" class="card-img-top" alt="..." style="width: 80%">
            <div class="card-body">
              <p class="card-text"><%= employee.firstName %> <%= employee.lastName %></p>
              <p class="card-text"><%= employee.email %></p>
            </div></div>
            </div></p>
            <form id="update-employee-form" action="/update/:uid" method="post">
              <div class="mb-3">
                <div class="mb-2">  <label for="input-firstName" class="form-label">First Name:</label>
                  <input type="text" name="user[firstName]"></div>
          
                  <div  style="text-align: center;"><input type="submit" value="Submit" href="/success"></form></div>
            </form>
         </div>
        </div>
    </main>
</body>
</html>